<div
  class="event-card"
  [class.active]="isActive"
  [class.reoccurring]="event.isReoccurring"
>
  <div class="header">
    <h1>
      {{ event.title }} @if(isActive) {
      <span class="text-success text-sm">(Currently Actiev)</span> }
    </h1>
  </div>
  <div class="content">
    <p>{{ event.description }}</p>
  </div>
  @if (!isSameDayEvent) {
  <div class="ends-at-container">
    <p>Ends at {{ event.endDate | formatAsDate }}</p>
  </div>
  } @if (event.isReoccurring) {
  <div class="reoccurring-container">
    <tui-svg src="tuiIconRepeat"></tui-svg>
  </div>
  }
</div>
