<app-layout
  [sideModalOpen]="eventFormOpen"
  (inviteAccepted)="fetchEventsBasedOnCurrentRange()"
>
  <app-bar-actions
    class="h-full flex-1 flex flex-row items-stretch justify-between"
  >
    <app-month-slider
      [month]="month"
      [year]="year"
      (dateChange)="onChangeDisplayDate($event)"
    ></app-month-slider>
    <div class="h-full flex flex-row items-center gap-x-2">
      <button class="nav-btn" (click)="onSearchClick()">
        <tui-svg src="tuiIconSearchLarge"></tui-svg>
      </button>
      <button class="nav-btn" (click)="onToggleView()">
        @if (view === 'calendar') {
        <tui-svg src="tuiIconCalendarLarge"></tui-svg>
        } @else {
        <tui-svg src="tuiIconListLarge"></tui-svg>
        }
      </button>
    </div>
  </app-bar-actions>
  @if (view === 'calendar') {

  <app-calendar-grid
    [month]="month"
    [year]="year"
    [events]="events$ | async | emptyArrayIfNull"
    (slotClick)="onCalendarSlotClick($event)"
    (eventClick)="onEventClick($event)"
  />
  } @else {
  <app-events-list
    [events]="events$ | async | emptyArrayIfNull"
    (eventClick)="onEventClick($event)"
  ></app-events-list>
  }
  <app-side-modal>
    <h1 class="text-xl font-bold text-brand-dark mb-4">
      @if (lastSelectedEvent && lastSelectedEvent.owned) { Edit Event } @if
      (lastSelectedEvent && !lastSelectedEvent.owned) { Event Details } @if
      (!lastSelectedEvent) { Create Event }
    </h1>
    <app-event-form
      [date]="lastSelectedDate"
      [event]="lastSelectedEvent"
      (submitEventParams)="onEventFormSubmit($event)"
    ></app-event-form>
    @if (lastSelectedEvent && lastSelectedEvent.owned) {
    <app-invite-prompt (invite)="onInviteUser($event)"></app-invite-prompt>
    }
    <button
      tuiButton
      appearance="secondary-destructive"
      class="w-full mt-2"
      (click)="closeEventFormSidebar()"
    >
      Cancel
    </button>
  </app-side-modal>
</app-layout>
