<form
  class="w-full flex flex-col items-stretch gap-y-2"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <tui-input formControlName="title">
    Event Title
    <input placeholder="Enter event title.." tuiTextfield />
  </tui-input>
  <tui-error
    formControlName="title"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  <tui-textarea formControlName="description">
    Description
    <textarea placeholder="Enter event description.." tuiTextfield></textarea>
  </tui-textarea>
  <tui-error
    formControlName="description"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  <tui-checkbox-labeled formControlName="allDay" size="l">
    All Day?
  </tui-checkbox-labeled>

  @if (form.value.allDay) {
  <tui-input-date-time formControlName="startDate">
    Event Date
    <input placeholder="Select event date.." tuiTextfield />
  </tui-input-date-time>
  <tui-error
    formControlName="startDate"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  } @else {
  <tui-input-date-time formControlName="startDate">
    Starts At
    <input placeholder="Select event's start date.." tuiTextfield />
  </tui-input-date-time>
  <tui-error
    formControlName="startDate"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  <tui-input-date-time formControlName="endDate">
    Ends At
    <input placeholder="Select event's end date.." tuiTextfield />
  </tui-input-date-time>
  <tui-error
    formControlName="endDate"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  }

  <tui-checkbox-labeled formControlName="isReoccurring" size="l">
    Reoccurring?
  </tui-checkbox-labeled>
  <tui-checkbox-labeled formControlName="isPublic" size="l">
    Public?
  </tui-checkbox-labeled>

  <button tuiButton type="submit" class="mt-4">{{ submitButtonLabel }}</button>
</form>
